<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headers"></th:block>
    <title>Кабинет администратора</title>
</head>
<body>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/weapons">Товары</a><br>
    <a class="navbar-brand" href="/persons">Люди</a><br>
    <a class="navbar-brand" href="/clients">Клиенты</a><br>
    <a class="navbar-brand" href="/managers">Сотрудники</a><br>
    <a class="navbar-brand" href="/users">Пользователи</a><br>
    <a class="navbar-brand" href="/orders">Заказы</a><br>
    <a class="navbar-brand" href="/logout">Выйти</a>
    <a class="navbar-brand" href="/actuator">Actuator</a>
</nav>
</body>
</html>