<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headers"></th:block>
    <title>Login</title>
</head>
<body>
<div class="dashboard_rules" sec:authorize="isAuthenticated()">
    <script language="JavaScript">
        location.href = '/';
    </script>
</div>
<div>
    <form method="POST" action="/login">
        <h2>Вход в систему</h2>
        <div>
            <label>
                <input name="username" type="text" placeholder="Имя" autofocus="true"/>
            </label>
            <label>
                <input name="password" type="password" placeholder="Пароль"/>
            </label>
            <button type="submit" class="btn btn-success">Войти</button><br>
        </div>
    </form>
</div>
</body>
</html>